
.main-kontor {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
    text-align: center;
    flex-direction: column;
}

.img-text {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}


.text1 {
    height: 100%;
    display: inline-block;
}
.text2 {
    height: 100%;

    display: inline-block;
}
.text3 {
    height: 100%;

    display: inline-block;
}