
.main-kontor {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
    text-align: center;
    flex-direction: column;
}

.img-text {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}


.text1 {
    height: 100%;
    display: inline-block;
}
.img-text1 {
    padding-right: 3%;
}
.text2 {
    height: 100%;
    display: inline-block;
}
.text3 {
    height: 100%;
    display: inline-block;
}
.kontakt-oss-tittel {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 2%;
}
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
    background-color: rgba(0, 0, 0, 0.317);
    margin-left: 25%;
    margin-right: 25%;
}
label {
    padding-left: 2%;
    color: white;
}
.form {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    background-color: rgba(0, 0, 0, 0.317);
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 3%;
}